:root {
  /* ### Primary Colors */

--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);

/* ### Neutral Colors */

--very-dk-blue: hsl(234, 12%, 34%);
--grayish-blue: hsl(229, 6%, 66%);
--very-lt-gray: hsl(0, 0%, 98%);

/* ### Font-Size */

--fs: 0.9375rem; /* 15px */
--fs-title: 1.7rem; /* 27.2px */

/* ### Font-Family */

--ff-poppins: 'Poppins', sans-serif;
}

/* GLOBAL SELECTORS */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: var(--very-lt-gray);
  font-family: var(--ff-poppins);
  font-size: var(--fs);
}

h1, h2, p {
  margin: 0;
}

/* HEADER */

.header-cont {
  padding: 60px 20px 0 20px;
  text-align: center;
}

.pre-title {
  font-weight: 200;
  font-size: var(--fs-title);
  color: var(--grayish-blue);
}

.title {
  font-size: var(--fs-title);
  color: var(--very-dk-blue);
  margin-bottom: 15px;
}

.title-desc {
  font-size: 1rem;
  color: var(--grayish-blue);
  margin-bottom: 70px;
}

/* MAIN */

.main-cont {
  padding: 0 20px;
}

.first-col > .position-cont {
  width: 335px;
  height: 250px;
  background-color: white;
  border: none;
  border-radius: 5px;
  border-top: 4px solid var(--cyan);
  margin-bottom: 25px;
  box-shadow: 0 8px 30px -25px var(--very-dk-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-col > .position-cont {
  width: 335px;
  height: 250px;
  background-color: white;
  border: none;
  border-radius: 5px;
  border-top: 4px solid var(--red);
  margin-bottom: 25px;
  box-shadow: 0 8px 30px -25px var(--very-dk-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-col > .position-cont:nth-of-type(2) {
  width: 335px;
  height: 250px;
  background-color: white;
  border: none;
  border-radius: 5px;
  border-top: 4px solid var(--orange);
  margin-bottom: 25px;
  box-shadow: 0 8px 30px -25px var(--very-dk-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-col > .position-cont {
  width: 335px;
  height: 250px;
  background-color: white;
  border: none;
  border-radius: 5px;
  border-top: 4px solid var(--blue);
  margin-bottom: 25px;
  box-shadow: 0 8px 30px -25px var(--very-dk-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-info {
  width: 275px;
  height: 190px;
  position: relative;
}

.position-desc {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-top: 5px;
  color: var(--grayish-blue);
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.attribution { 
  font-size: 11px;
  text-align: center; 
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 800px) {
  body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  /* HEADER */

.header-cont {
  padding: 60px 0 0 0;
}

.pre-title {
  font-size: 2rem;
}

.title {
  font-size: 2rem;
}

.title-desc {
  max-width: 570px;
  margin: 0 auto 70px auto;
}

/* MAIN */

.main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-col > .position-cont {
  margin-inline: 25px;
}

.second-col > .position-cont:nth-of-type(2) {
  margin-inline: 25px;
}

}